<div class="standard-page">
  <h1 class="on-surface-text">Websocket Connection: {{websocketConnectionStatus()}}</h1>
  <div class="flex-row gap-md">
    <p-button [label]="websocketConnectButtonLabel()"
              [disabled]="websocketConnectionStatus() === 'CONNECTING'"
              [loading]="websocketConnectionStatus() === 'CONNECTING'"
              (onClick)="onWebsocketChangeState(websocketConnectionStatus() !== 'OPEN')" />
  </div>
  <div class="stack">
    <input class="standard-margin-bottom" type="text" pInputText [(ngModel)]="value" />
    <p-button [label]="'Send'" (onClick)="onSend()"/>
  </div>

  <p>Last Response: {{lastResponse}}</p>

</div>

