[data-theme-colour=''] {
  --proav-sys-color-primary: rgb(0 106 96);
  --proav-sys-color-surface-tint: rgb(0 106 96);
  --proav-sys-color-on-primary: rgb(255 255 255);
  --proav-sys-color-primary-container: rgb(158 242 228);
  --proav-sys-color-on-primary-container: rgb(0 32 28);
  --proav-sys-color-secondary: rgb(74 99 95);
  --proav-sys-color-on-secondary: rgb(255 255 255);
  --proav-sys-color-secondary-container: rgb(204 232 226);
  --proav-sys-color-on-secondary-container: rgb(5 32 28);
  --proav-sys-color-tertiary: rgb(69 97 121);
  --proav-sys-color-on-tertiary: rgb(255 255 255);
  --proav-sys-color-tertiary-container: rgb(204 229 255);
  --proav-sys-color-on-tertiary-container: rgb(0 30 49);
  --proav-sys-color-error: rgb(186 26 26);
  --proav-sys-color-on-error: rgb(255 255 255);
  --proav-sys-color-error-container: rgb(255 218 214);
  --proav-sys-color-on-error-container: rgb(65 0 2);
  --proav-sys-color-background: rgb(244 251 248);
  --proav-sys-color-on-background: rgb(22 29 28);
  --proav-sys-color-surface: rgb(244 251 248);
  --proav-sys-color-on-surface: rgb(22 29 28);
  --proav-sys-color-surface-variant: rgb(218 229 225);
  --proav-sys-color-on-surface-variant: rgb(63 73 71);
  --proav-sys-color-outline: rgb(111 121 119);
  --proav-sys-color-outline-variant: rgb(190 201 198);
  --proav-sys-color-shadow: rgb(0 0 0);
  --proav-sys-color-scrim: rgb(0 0 0);
  --proav-sys-color-inverse-surface: rgb(43 50 48);
  --proav-sys-color-inverse-on-surface: rgb(236 242 239);
  --proav-sys-color-inverse-primary: rgb(130 213 200);
  --proav-sys-color-primary-fixed: rgb(158 242 228);
  --proav-sys-color-on-primary-fixed: rgb(0 32 28);
  --proav-sys-color-primary-fixed-dim: rgb(130 213 200);
  --proav-sys-color-on-primary-fixed-variant: rgb(0 80 72);
  --proav-sys-color-secondary-fixed: rgb(204 232 226);
  --proav-sys-color-on-secondary-fixed: rgb(5 32 28);
  --proav-sys-color-secondary-fixed-dim: rgb(177 204 198);
  --proav-sys-color-on-secondary-fixed-variant: rgb(51 75 71);
  --proav-sys-color-tertiary-fixed: rgb(204 229 255);
  --proav-sys-color-on-tertiary-fixed: rgb(0 30 49);
  --proav-sys-color-tertiary-fixed-dim: rgb(173 202 230);
  --proav-sys-color-on-tertiary-fixed-variant: rgb(45 73 97);
  --proav-sys-color-surface-dim: rgb(213 219 217);
  --proav-sys-color-surface-bright: rgb(244 251 248);
  --proav-sys-color-surface-container-lowest: rgb(255 255 255);
  --proav-sys-color-surface-container-low: rgb(239 245 242);
  --proav-sys-color-surface-container: rgb(233 239 237);
  --proav-sys-color-surface-container-high: rgb(227 234 231);
  --proav-sys-color-surface-container-highest: rgb(221 228 225);
}
