/*These two attributes are adjacent with no space to signify they arent descendent*/
[data-theme-mode='light'][data-contrast='high'] {
  --proav-sys-color-primary: rgb(0 40 35);
  --proav-sys-color-surface-tint: rgb(0 106 96);
  --proav-sys-color-on-primary: rgb(255 255 255);
  --proav-sys-color-primary-container: rgb(0 76 68);
  --proav-sys-color-on-primary-container: rgb(255 255 255);
  --proav-sys-color-secondary: rgb(13 38 35);
  --proav-sys-color-on-secondary: rgb(255 255 255);
  --proav-sys-color-secondary-container: rgb(47 71 67);
  --proav-sys-color-on-secondary-container: rgb(255 255 255);
  --proav-sys-color-tertiary: rgb(2 36 58);
  --proav-sys-color-on-tertiary: rgb(255 255 255);
  --proav-sys-color-tertiary-container: rgb(41 69 92);
  --proav-sys-color-on-tertiary-container: rgb(255 255 255);
  --proav-sys-color-error: rgb(78 0 2);
  --proav-sys-color-on-error: rgb(255 255 255);
  --proav-sys-color-error-container: rgb(140 0 9);
  --proav-sys-color-on-error-container: rgb(255 255 255);
  --proav-sys-color-background: rgb(244 251 248);
  --proav-sys-color-on-background: rgb(22 29 28);
  --proav-sys-color-surface: rgb(244 251 248);
  --proav-sys-color-on-surface: rgb(0 0 0);
  --proav-sys-color-surface-variant: rgb(218 229 225);
  --proav-sys-color-on-surface-variant: rgb(28 38 36);
  --proav-sys-color-outline: rgb(59 69 67);
  --proav-sys-color-outline-variant: rgb(59 69 67);
  --proav-sys-color-shadow: rgb(0 0 0);
  --proav-sys-color-scrim: rgb(0 0 0);
  --proav-sys-color-inverse-surface: rgb(43 50 48);
  --proav-sys-color-inverse-on-surface: rgb(255 255 255);
  --proav-sys-color-inverse-primary: rgb(168 252 237);
  --proav-sys-color-primary-fixed: rgb(0 76 68);
  --proav-sys-color-on-primary-fixed: rgb(255 255 255);
  --proav-sys-color-primary-fixed-dim: rgb(0 51 46);
  --proav-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --proav-sys-color-secondary-fixed: rgb(47 71 67);
  --proav-sys-color-on-secondary-fixed: rgb(255 255 255);
  --proav-sys-color-secondary-fixed-dim: rgb(24 49 45);
  --proav-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --proav-sys-color-tertiary-fixed: rgb(41 69 92);
  --proav-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --proav-sys-color-tertiary-fixed-dim: rgb(16 47 69);
  --proav-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --proav-sys-color-surface-dim: rgb(213 219 217);
  --proav-sys-color-surface-bright: rgb(244 251 248);
  --proav-sys-color-surface-container-lowest: rgb(255 255 255);
  --proav-sys-color-surface-container-low: rgb(239 245 242);
  --proav-sys-color-surface-container: rgb(233 239 237);
  --proav-sys-color-surface-container-high: rgb(227 234 231);
  --proav-sys-color-surface-container-highest: rgb(221 228 225);
}
