:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.paragraph-cell {
  flex: 1;
  max-height: 84px;
  padding: var(--proav-dimension-small) 15px;
  max-width: 100%;
  width: 100%;
  min-height: 84px;

  &.expand-cell {
    max-height: unset;
  }
}

.paragraph-cell-text {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 1.5;
  padding: 1rem 0;

  white-space: normal;
  word-break: break-word;

  &.expanded {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
  }
}

.expand-button {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .expand-icon {
    width: 20px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
