.elevation-zero {
  box-shadow: var(--proav-elevation-zero-shadow);
}

.elevation-one {
  box-shadow: var(--proav-elevation-one-shadow);
}

.elevation-two {
  box-shadow: var(--proav-elevation-two-shadow);
}

.elevation-three {
  box-shadow: var(--proav-elevation-three-shadow);
}

.elevation-four {
  box-shadow: var(--proav-elevation-four-shadow);
}

.elevation-five {
  box-shadow: var(--proav-elevation-five-shadow);
}
