.extra-small-icon {
  font-size: var(--proav-icon-extra-small);
}

.small-icon {
  font-size: var(--proav-icon-small);
}

.medium-icon {
  font-size: var(--proav-icon-medium);
}

.large-icon {
  font-size: var(--proav-icon-large);
}

.extra-large-icon {
  font-size: var(--proav-icon-extra-large);
}
