.standard-margin-top {
  margin-top: var(--proav-dimension-medium);
}

.small-margin-top {
  margin-top: var(--proav-dimension-small);
}

.xs-margin-top {
  margin-top: var(--proav-dimension-extra-small);
}

.standard-margin-bottom {
  margin-bottom: var(--proav-dimension-medium);
}

.large-margin-top {
  margin-top: var(--proav-dimension-large);
}
