.standard-padding {
  padding: var(--proav-dimension-medium);
}

.standard-side-padding {
  padding: 0 var(--proav-dimension-medium);
}

.text-stack-padding {
  padding: var(--proav-dimension-xxs) 0;
}
