.padding-top-extra-small {
  padding-top: var(--proav-dimension-extra-small);
}

.padding-top-small {
  padding-top: var(--proav-dimension-small);
}

.padding-top-medium {
  padding-top: var(--proav-dimension-medium);
}

.padding-top-large {
  padding-top: var(--proav-dimension-large);
}

.padding-top-extra-large {
  padding-top: var(--proav-dimension-extra-large);
}

.padding-right-extra-small {
  padding-right: var(--proav-dimension-extra-small);
}

.padding-right-small {
  padding-right: var(--proav-dimension-small);
}

.padding-right-medium {
  padding-right: var(--proav-dimension-medium);
}

.padding-right-large {
  padding-right: var(--proav-dimension-large);
}

.padding-right-extra-large {
  padding-right: var(--proav-dimension-extra-large);
}

.padding-bottom-extra-small {
  padding-bottom: var(--proav-dimension-extra-small);
}

.padding-bottom-small {
  padding-bottom: var(--proav-dimension-small);
}

.padding-bottom-medium {
  padding-bottom: var(--proav-dimension-medium);
}

.padding-bottom-large {
  padding-bottom: var(--proav-dimension-large);
}

.padding-bottom-extra-large {
  padding-bottom: var(--proav-dimension-extra-large);
}

.padding-left-extra-small {
  padding-left: var(--proav-dimension-extra-small);
}

.padding-left-small {
  padding-left: var(--proav-dimension-small);
}

.padding-left-medium {
  padding-left: var(--proav-dimension-medium);
}

.padding-left-large {
  padding-left: var(--proav-dimension-large);
}

.padding-left-extra-large {
  padding-left: var(--proav-dimension-extra-large);
}

.padding-extra-small {
  padding: var(--proav-dimension-extra-small);
}

.padding-small {
  padding: var(--proav-dimension-small);
}

.padding-medium {
  padding: var(--proav-dimension-medium);
}

.padding-large {
  padding: var(--proav-dimension-large);
}

.padding-extra-large {
  padding: var(--proav-dimension-extra-large);
}
