:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-content: center;
  max-height: 400px;
  width: 100%;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: scroll;
}

.checkbox-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
