<div [class.drawer-container-open]="isDrawerOpen" class="drawer-container">
  <div (click)="toggleDrawer()" class="button drawer-button primary on-primary-text label-large">Dev Tools</div>

  <div class="drawer primary-container">
    <p-button variant="outlined" [icon]="logIcon" (onClick)="toggleDevToolsPage('logs')"/>

    <p-button variant="outlined" [icon]="settingsIcon" (onClick)="toggleDevToolsPage('settings')"/>
  </div>
</div>


<ng-container #devToolsPage/>


@if(isDrawerOpen || currentDevToolsPage) {
  <div @fadeInAndOut class="screen-darken z-ui-cover" (click)="setDrawer(false)"></div>
}
<div class="dev-tools-build-id">{{ buildVersion }}</div>
