.drawer-container {
  position: fixed;
  width: 80px;
  right: 0;
  bottom: 132px;
  display: flex;
  transform: translateX(60px);
  transition: transform 0.4s ease-in-out;
  align-items: flex-end;
  z-index: calc(var(--proav-elevation-developer-master) + 1);

  .drawer-button {
    height: 100px;
    min-width: 20px;
    transform: translateY(calc(-1 * var(--proav-dimension-medium))); // This works fine, ignore the haters
    border-top-left-radius: var(--proav-dimension-medium);
    border-bottom-left-radius: var(--proav-dimension-medium);
    writing-mode: vertical-rl;
    text-align: center;
  }

  .drawer {
    min-width: calc(80px - 20px);
    min-height: 200px;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: var(--proav-dimension-medium);
  }
}

.drawer-container-open {
  transform: translateX(-40px) translateY(-80px);
}

.dev-tools-page-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--proav-dimension-medium);
  height: 100dvh;
  width: 100%;
  z-index: var(--proav-elevation-developer-master);
}

.dev-button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  text-align: center;
}

.dev-tools-build-id {
  position: fixed;
  bottom: 0;
  right: 10%;
  opacity: 0.4;
}
